body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  padding-top: 1em;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}
